<footer>
	<div class="me-badge">
		<object type="image/svg+xml" data="images/me.svg" alt="miguel ramos"></object>
	</div>
	<div class="desc">
		<p>Hi! I'm Miguel, a <strong>front-end developer</strong> from Miami. I enjoy building hand crafted web solutions.</p>
	</div>
	<div class="social">
		<ul>

			<li><a href="http://dribbble.com/mishingo"><img src="images/dribbble.svg" alt="dribbble"></a></li>
			<li><a href="http://github.com/mishingo"><img src="images/github.svg" alt="github"></a></li>
			<li><a href="http://twitter.com/mishingo_"><img src="images/twitter.svg" alt="twitter"></a> </li>
		</ul>
	</div>
</footer>