---
title: Miguel Ramos Portfolio
---

<div class="hero">
  <div class="hero-banner">
    <div class="hero-image">
      <object type="image/svg+xml" data="images/burger.svg"></object>
    </div>
    <div class="hero-title">
        <h5> I enjoy making sites more </h5>
        <span class="fat"> DELICIOUS!</span>
    </div>
  </div>
</div>

<div class="card-holder">
  <div id="featured" class="card">
   <% blog.articles[0...1].each do |article| %>
     <article>
       <h2>
         <a href="<%= article.url %>"><%= article.title %></a>
       </h2>
      <hr />
      <p> <%= article.summary %> </p>
        <div class="btn"> 
          <a href="<%= article.url %>">Read more</a>
        </div>
     </article>
   <% end %>
  </div>
</div>

<div class="recent-work">
  <div class="title">
    <h3> Recent Work: </h3>
    <div class="rw-img">
      <img src="images/fp-darwin.png" alt="charles darwin"/>
    </div>
    <div class="rw-txt">
      <h3> Guided Voyage of Charles Darwins “Voyage of the Beagle” </h3>
      <p>Cool anonymous y u no just bottom problem? Rainbow movies people t-rex grin clinton father not okay le me. Avenger dead space humor simpson star wars woman elephant all the things challenge accepted okay. Like a boss wodka architect homework cellphone scared fat dummies.  </p>
      <div class="btn"> 
          <a href="work.html">Read more</a>
      </div>
    </div>
  </div>
</div>