---
title: Miguel Ramos Portfolio
---

<div class="hero">
  <div class="hero-banner">
    <div class="hero-image">
      <object type="image/svg+xml" data="images/burger.svg"></object>
    </div>
    <div class="hero-title">
        <h5> I enjoy making sites more </h5>
        <span class="fat"> DELICIOUS!</span>
    </div>
  </div>
</div>