---
title: Miguel Ramos Portfolio
---

<div class="hero">
  <div class="hero-banner">
    <div class="hero-image">
      <object type="image/svg+xml" data="images/burger.svg"></object>
    </div>
    <div class="hero-title">
        <h5> I enjoy making sites more </h5>
        <span class="fat"> DELICIOUS!</span>
    </div>
  </div>
</div>

<div class="card-holder">
  <div id="featured" class="card">
   <% blog.articles[0...1].each do |article| %>
     <article>
       <h2>
         <a href="<%= article.url %>"><%= article.title %></a>
       </h2>
      <hr />
      <p> <%= article.summary %> </p>
        <div class="btn"> 
          <a href="<%= article.url %>">Read more</a>
        </div>
     </article>
   <% end %>
  </div>
</div>